
.signup-form {
    width: 300px;
    margin: 80px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 26px 18px rgba(0, 0, 0,5.6);

}

.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-form input, .signup-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #0056b3;
}